@tailwind base;
@tailwind utilities;
@tailwind components;

* {
    box-sizing: border-box;
}

input:focus
{
    outline: none;
}

.center-form
{
    width: 25%;
    margin: auto;
    @apply ring-2 rounded-2xl ring-blue-800 p-7 min-w-fit ; 
    margin-top: 5%;
}

.form-header
{
    @apply text-center mb-10;
}

.form-footer
{
    @apply mt-10;
}

.textfield
{
    @apply ring-1 ring-gray-300 p-2 my-3 relative w-full bg-gray-50 rounded-lg transition-all duration-200;
}
.textfield:focus
{
    @apply ring-blue-600 ring-2;
}
input.textfield
{
    width: 98%;
}

.textfield>label
{
    @apply text-gray-700 transition-all duration-1000 pointer-events-none;
}


.form-footer>input[type="submit"]
{
    float: right;
    @apply text-white bg-blue-600 p-2 rounded-xl transition-colors cursor-pointer duration-500;
}

input[type="submit"]:hover
{
    @apply bg-blue-400;
}

a 
{
    @apply text-blue-600 ;
}

.popup-back
{
    background-color: rgba(0, 0, 0, 0.402);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
    display: none;
    transition: all 0.5s;
    overflow: scroll;
}

.popup-back.active
{
    display: block;
}

.popup-form
{
    width: 30%;
    margin:auto;
    margin-top: 3%;
    @apply bg-white rounded-3xl p-8;
}